<div class="screen mobile">
    <h1>Categories</h1>

    <span>Edit Mode On</span>
    <div class="fields">
        <div class="field">
            <div class="textbox">
                <input type="text" placeholder="Nombre" ng-model="vm.categoriesTemp.name">
            </div>
        </div>
        <div class="field">
            <div class="textbox">
                <input type="text" placeholder="Icono" ng-model="vm.categoriesTemp.icon">
            </div>
        </div>
        <div class="field">
            <div class="checkbox">
                Entrada: 
                <input type="checkbox" ng-model="vm.categoriesTemp.isentry">
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="button save" ng-click="vm.create(vm.categoriesTemp)">Guardar</div>
        <div class="button limpiar" ng-click="vm.clean(vm.categoriesTemp)">Limpiar</div>
        <div class="button eliminar" ng-click="vm.delete(vm.categoriesTempSelected, data.types)">Eliminar <span>ID: </span></div>
    </div>
    <div class="list">
        <span>List categorias</span>
        <div class="item" ng-repeat="u in vm.data" ng-click="vm.selectItem(u)">
            <span>Item {{ u.name }}</span>
        </div>
    </div>
</div>