<div class="general debug">
    <div class="log-fixed">LOG: {{ vm.log }}</div class="log-fixed">


 <!-- monedas -->
 <currency-page ng-if="data.currency" data="data.currency"></currency-page> 

<!-- usuarios -->
 <users-page ng-if="data.users" data="data.users"></users-page> 

<!-- Categorias -->
  <categories-page ng-if="data.categories" data="data.categories"></categories-page>  

<!-- Carteras -->
 <wallets-page ng-if="data.wallets" data="data.wallets" currency="data.currency" users="data.users"></wallets-page> 

<!-- transacciones --> 
<transactions-page ng-if="data.transactions" data="data.transactions" currency="data.currency" users="data.users" wallets="data.wallets" categories="data.categories"></transactions-page>

</div>