<div class="general debug">
    <div class="log-fixed">LOG: {{ vm.log }}</div class="log-fixed">


<!-- monedas -->
<div class="screen mobile">
    <h1>Monedas</h1>

    <span>Edit Mode On</span>
    <div class="fields">
        <div class="field">
            <div class="textbox">
                <input type="text" placeholder="Nombre" ng-model="vm.currencyTemp.name">
            </div>
        </div>
        <div class="field">
            <div class="textbox">
                <input type="text" placeholder="Simbolo" ng-model="vm.currencyTemp.symbol">
            </div>
        </div>
        <div class="field">
            <div class="textbox">
                <input type="text" placeholder="Prefijo" ng-model="vm.currencyTemp.prefix">
            </div>
        </div>
    </div>

    <div class="actions">
        <div class="button save" ng-click="vm.saveData(vm.currencyTemp, 'currency')">Guardar</div>
        <div class="button limpiar" ng-click="vm.cleanData(vm.currencyTemp)">Limpiar</div>
        <div class="button eliminar" ng-click="vm.delete(vm.currencyTempSelected, data.currency)">Eliminar <span>ID: </span></div>
    </div>

    <div class="list">
        <span>List Monedas</span>
        <span>{{ vm.currencyTempSelected }}</span>
        <div class="item" ng-repeat="u in data.currency" ng-click="vm.selectItem(u, 'currency')">
            <span>Item {{ u.Id }} {{ u.Name }}</span>
        </div>
    </div>
</div>

<!-- usuarios -->
<div class="screen mobile">
    <h1>User</h1>

    <span>Edit Mode On</span>
    <div class="fields">
        <div class="field">
            <div class="textbox">
                <input type="text" placeholder="Username" ng-model="vm.userTemp.username">
            </div>
        </div>
        <div class="field">
            <div class="textbox">
                <input type="text" placeholder="Password" ng-model="vm.userTemp.password">
            </div>
        </div>
        <div class="field">
            <div class="textbox">
                <input type="text" placeholder="Password Rewrite" ng-model="vm.userTemp.password">
            </div>
        </div>
        <div class="field">
            <div class="textbox">
                <input type="text" placeholder="GivenName" ng-model="vm.userTemp.givenname">
            </div>
        </div>
        <div class="field">
            <div class="textbox">
                <input type="text" placeholder="Middlename" ng-model="vm.userTemp.middlename">
            </div>
        </div>
        <div class="field">
            <div class="textbox">
                <input type="text" placeholder="FamiliName" ng-model="vm.userTemp.familyname">
            </div>
        </div>
        <div class="field">
            <div class="textbox">
                <input type="text" placeholder="Email" ng-model="vm.userTemp.email">
            </div>
        </div>
        <div class="field">
            <div class="textbox">
                <input type="text" placeholder="Gender" ng-model="vm.userTemp.gender">
            </div>
        </div>
        <div class="field">
            <div class="textbox">
                <input type="text" placeholder="Birthdate" ng-model="vm.userTemp.birthdate">
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="button save" ng-click="vm.saveData(vm.userTemp, data.user)">Guardar</div>
        <div class="button limpiar" ng-click="vm.cleanData(vm.userTemp)">Limpiar</div>
        <div class="button eliminar" ng-click="vm.delete(vm.userTempSelected, data.user)">Eliminar <span>ID: </span></div>
    </div>
    <div class="list">
        <span>List Usuarios</span>
        <div class="item" ng-repeat="u in data.user">
            <span>Item {{ u.username }}</span>
        </div>
    </div>
</div>

<!-- Carteras -->
<div class="screen mobile">
    <h1>Wallet</h1>

    <span>Edit Mode On</span>
    <div class="fields">
        <div class="field">
            <div class="textbox">
                <input type="text" placeholder="Name" ng-model="vm.wallet.name">
            </div>
        </div>
        <div class="field">
            <div class="textbox">
                <input type="text" placeholder="Balance" ng-model="vm.wallet.balance">
            </div>
        </div>
        <div class="field">
            <div class="dropdown">
                Moneda: 
                <select ng-model="vm.wallet.idcurrency">
                    <option value="1">Pesos</option>
                    <option value="1">Dolares</option>
                </select>
            </div>
        </div>
        <div class="field">
            <div class="dropdown">
                Usuario: 
                <select ng-model="vm.wallet.iduser">
                    <option value="1">Pesos</option>
                    <option value="1">Dolares</option>
                </select>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="button save" ng-click="vm.saveData(vm.walletTemp, data.wallet)">Guardar</div>
        <div class="button limpiar" ng-click="vm.cleanData(vm.walletTemp)">Limpiar</div>
        <div class="button eliminar" ng-click="vm.delete(vm.walletTempSelected, data.wallet)">Eliminar <span>ID: </span></div>
    </div>
    <div class="list">
        <span>List Carteras</span>
        <div class="item" ng-repeat="u in data.wallet">
            <span>Item {{ u.name }}</span>
        </div>
    </div>
</div>

<!-- Categorias -->
<div class="screen mobile">
    <h1>Categories</h1>

    <span>Edit Mode On</span>
    <div class="fields">
        <div class="field">
            <div class="textbox">
                <input type="text" placeholder="Nombre" ng-model="vm.typeTemp.name">
            </div>
        </div>
        <div class="field">
            <div class="textbox">
                <input type="text" placeholder="Icono" ng-model="vm.typeTemp.icon">
            </div>
        </div>
        <div class="field">
            <div class="checkbox">
                Entrada: 
                <input type="checkbox" ng-model="vm.typeTemp.isentry">
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="button save" ng-click="vm.saveData(vm.typeTemp, data.types)">Guardar</div>
        <div class="button limpiar" ng-click="vm.cleanData(vm.typeTemp)">Limpiar</div>
        <div class="button eliminar" ng-click="vm.delete(vm.typeTempSelected, data.types)">Eliminar <span>ID: </span></div>
    </div>
    <div class="list">
        <span>List categorias</span>
        <div class="item" ng-repeat="u in data.types">
            <span>Item {{ u.name }}</span>
        </div>
    </div>
</div>

<!-- transacciones -->
<div class="screen mobile">
    <h1>Transacciones</h1>

    <span>Edit Mode On</span>
    <div class="fields">
        <div class="field">
            <div class="textbox">
                <input type="text" placeholder="Descripcion" ng-model="vm.transactionTemp.description">
            </div>
        </div>
        <div class="field">
            <div class="textbox">
                <input type="text" placeholder="Valor" ng-model="vm.transactionTemp.value">
            </div>
        </div>
        <div class="field">
            <div class="textbox">
                <input type="text" placeholder="Creado" ng-model="vm.transactionTemp.update">
            </div>
        </div>
        <div class="field">
            <div class="dropdown">
                Moneda: 
                <select ng-model="vm.transactionTemp.idcurrency">
                    <option value="1">Pesos</option>
                    <option value="1">Dolares</option>
                </select>
            </div>
        </div>
        <div class="field">
            <div class="dropdown">
                Cartera: 
                <select ng-model="vm.transactionTemp.idwallet">
                    <option value="1">Pesos</option>
                    <option value="1">Dolares</option>
                </select>
            </div>
        </div>
        <div class="field">
            <div class="dropdown">
                Tipo: 
                <select ng-model="vm.transactionTemp.idtype">
                    <option value="1">Pesos</option>
                    <option value="1">Dolares</option>
                </select>
            </div>
        </div>
        <div class="field">
            <div class="dropdown">
                Plan: 
                <select ng-model="vm.transactionTemp.idplan">
                    <option value="1">Pesos</option>
                    <option value="1">Dolares</option>
                </select>
            </div>
        </div>
        <div class="field">
            <div class="dropdown">
                presupuesto: 
                <select ng-model="vm.transactionTemp.isbudget">
                    <option value="1">Pesos</option>
                    <option value="1">Dolares</option>
                </select>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="button save" ng-click="vm.saveData(vm.transactionTemp, data.transactions)">Guardar</div>
        <div class="button limpiar" ng-click="vm.cleanData(vm.transactionTemp)">Limpiar</div>
        <div class="button eliminar" ng-click="vm.delete(vm.transactionTempSelected, data.transactions)">Eliminar <span>ID: </span></div>
    </div>
    <div class="list">
        <span>List Transacciones</span>
        <div class="item" ng-repeat="u in data.transactions">
            <span>Item ${{ u.value }}</span>
        </div>
    </div>
</div>

</div>