.avatar-directive {
    float: left;
    .avatar-badge {
        width: 36px;
        height: 36px;
        border-radius: 36px;
        text-align: center;
        line-height: 36px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border: 2px solid #B6AFAF;
        background: #E0DDDD;
        margin-right: 10px;
        display: inline-block;
        transition: border 400ms;
        transition: box-shadow 400ms;
        cursor: pointer;

        &:hover {
            border-color: #A1A0A0;
            -webkit-box-shadow: 0px 0px 20px 0px rgba(13, 168, 169, 1);
            -moz-box-shadow: 0px 0px 20px 0px rgba(13, 168, 169, 1);
            box-shadow: 0px 0px 20px 0px rgba(13, 168, 169, 1);
        }

        .avatar-text { 
            font-family: 'OpenSansBold', sans-serif; 
            font-size: 14px;
        }
        .avatar-image { 
            width: inherit;
            height: inherit;
            img {
                width: inherit;
                height: inherit;
            }
         }
    }
    .avatar-username {
        display: inline-block;
        line-height: 40px;
        float: right;
        font-size: 13px;
        font-family: 'OpenSansBold';
    }

    &.username {
        .avatar-badge { display: none; }
        .avatar-username {
            line-height: 15px;
            float: none;
        }
    }

    &.avatar {
        .avatar-badge { }
        .avatar-username {
            display: none; 
        }
    }
}