.home-view  {

    .header {
        width: 100%;
        height: 45px;
        margin-bottom: 20px;
        overflow: hidden;
        .text {
            font-size: 24px;
            line-height: 45px;
            color: #4D5664;
            float: left;
            margin-right: 30px;
            text-transform: capitalize;
            // margin-left: 30px;
        }
        .summary {
            line-height: 45px;
            float: left;
            b {
                font-family: 'OpenSansBold', sans-serif;
                span {
                    font-family: 'OpenSans', sans-serif;
                    font-size: 10px;
                }
            }
        }
    }

    .sub-header {
        width: 100%;
        height: 45px;
        margin-bottom: 30px;
        margin-top: 30px;
        overflow: hidden;
        .text {
            font-size: 24px;
            line-height: 45px;
            color: #4D5664;
            float: left;
            margin-right: 20px;
            text-transform: capitalize;
            // margin-left: 30px;
        }
        .options {
            font-size: 15px;
            md-input-container {
                margin: 7px 0;
            }
            .md-select-value,{
                border: none;
            }

            
        }
    }

    .stats {
        width: 100%;
        overflow: hidden;
        .stats-item {
            width: 240px;
            background: #D5E2ED;
            height: 100px;
            float: left;
            margin-left: 10px;
            &:first-child {
                margin-left: 0px;
            }
            .stats-item-icon {
                width: 30%;
                font-size: 50px;
                text-align: center;
                line-height: 100px;
                height: inherit;
                float: left;
            }
            .stats-item-content {
                width: 70%;
                height: 70%;
                margin-top: 7%;
                float: left;
                .stats-item-content-title {
                    font-size: 35px;
                    span { font-size: 15px; }
                }
                .stats-item-content-description {
                    font-size: 14px;
                }
            }
        }
    }

    .graph-component {
        margin: 0 10px 30px;
    }

    .label-notification-bar {
        background: #D5E2ED;
        color: #4D5664;
        height: 40px;
        width: 100%;
        font-size: 14px;
        line-height: 40px;
        .text {
            float: left;
            width: calc(100% - 40px);
            padding: 0 20px;
            box-sizing: border-box;
        }
        .close-button {
            float: right;
            width: 40px;
            text-align: center;
            cursor: pointer;
        }
    }

    .expenses-list-component {
        margin: 20px 10px 30px;
    }

    md-checkbox.md-default-theme.md-checked .md-ink-ripple, md-checkbox.md-checked .md-ink-ripple {
        color: rgba(92, 16, 197, 0.87);
    }
}

.flat-table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse:collapse;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    th, td {
        box-shadow: inset 0 -1px rgba(0,0,0,0.25), 
        inset 0 1px rgba(0,0,0,0.25);
        height: 40px;
        font-size: 13px;
        padding: 0 15px;
        text-align: center;
        line-height: 30px;
        box-sizing: border-box;
        color: #4D5664;
    }

    th {
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        color: rgba(0,0,0,0.45);
        text-shadow: 0 0 1px rgba(0,0,0,0.1);
        text-transform: uppercase;
        font-size: 12px;
        &.header-status {
            height: 50px;
            line-height: 50px;
            font-size: 14px;
            font-family: 'OpenSansSemi', sans-serif;
            text-align: left;
            .amount {
                color: #B0B8C5;
            }
        }
    }
    td {
        text-shadow: 0 0 1px rgba(255,255,255,0.1);
        &.amount{
            color: #E97B28;
            font-family: 'OpenSansBold', sans-serif;
            text-shadow: 0 0 1px rgba(77,86,100,0.1);
        }
        &.status{
            font-family: 'OpenSansBold', sans-serif;
            text-transform: capitalize;
        }
    }
    tr {
        -webkit-transition: background 0.3s, box-shadow 0.3s;
        -moz-transition: background 0.3s, box-shadow 0.3s;
        transition: background 0.3s, box-shadow 0.3s;
    }
    tbody {
        tr:nth-child(odd) {
            background: #eee;
        }
    }

    md-checkbox {
        margin: 5px 0px;
    }
}

.screen-view {
    display: none;
    background: #979B9F;
    -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.5);

    position: fixed;
    color: #4D5664;
    width: 320px;
    padding: 30px;
    height: 100vh;
    top: 60px;
    z-index: 200;
    .screen-view-header {
        width: 100%;
        overflow: hidden;
        .screen-view-header--title {
            font-size: 24px;
            text-align: left;
            float: left;
        }
        .screen-view-header--close {
            position: absolute;
            .circle-button {
                background: #05A7B2;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                font-size: 15px;
                color: #fff;
                margin-left: 330px;
                border-radius: 40px;
            }
        }

    }

    .form {
        .field {
            .label { }
            .text-box {
                input {}
            }
            .tiles-list {}
        }
    }
    
}

.screen-view-overlapse {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.4);
    top: 60px;
    z-index: 150;
}

.circle-button {}