.home-view  {

    .header {
        .summary {
            line-height: 45px;
            float: left;
            b {
                font-family: 'OpenSansBold', sans-serif;
                span {
                    font-family: 'OpenSans', sans-serif;
                    font-size: 10px;
                }
            }
        }
    }

    .sub-header {
        width: 100%;
        height: 45px;
        margin-bottom: 30px;
        margin-top: 30px;
        overflow: hidden;
        .text {
            font-size: 24px;
            line-height: 45px;
            color: #4D5664;
            float: left;
            margin-right: 20px;
            text-transform: capitalize;
            // margin-left: 30px;
        }
        .options {
            font-size: 15px;
            md-input-container {
                margin: 7px 0;
            }
            .md-select-value,{
                border: none;
            }

            
        }
    }

    .stats {
        width: 100%;
        overflow: hidden;
        .stats-item {
            width: 240px;
            background: #D5E2ED;
            height: 100px;
            float: left;
            margin-left: 10px;
            &:first-child {
                margin-left: 0px;
            }
            .stats-item-icon {
                width: 30%;
                font-size: 50px;
                text-align: center;
                line-height: 100px;
                height: inherit;
                float: left;
            }
            .stats-item-content {
                width: 70%;
                height: 70%;
                margin-top: 7%;
                float: left;
                .stats-item-content-title {
                    font-size: 35px;
                    span { font-size: 15px; }
                }
                .stats-item-content-description {
                    font-size: 14px;
                }
            }
        }
    }

    .graph-component {
        margin: 0 10px 30px;
    }

    .expenses-list-component {
        margin: 20px 10px 30px;
    }

    md-checkbox.md-default-theme.md-checked .md-ink-ripple, md-checkbox.md-checked .md-ink-ripple {
        color: rgba(92, 16, 197, 0.87);
    }
}

.screen-view {
    background: #979B9F;
    -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.5);

    position: absolute;
    color: #4D5664;
    width: 320px;
    padding: 30px;
    height: calc(100vh - 120px);
    top: 60px;
    
    

    transition: left 400ms;

    &.open {
        left: 78px;
        z-index: 50;
        // .screen-view-content { opacity: 1; }
    }
    &.close {
        left: -500px;
        z-index: 0;
        // left: -300px;
        // width: 0px;
        // height: 100px;
        // padding: 0;
        // transform: rotateX(90deg);
        // top: -50px;
        // margin-left: -150px;
        // .screen-view-content { opacity: 0; }
    }

    .screen-view-content {
        width: 320px; 
        transition: all 200ms ease-out 4000ms;
    }

    .screen-view-header {
        width: 100%;
        overflow: hidden;
        .screen-view-header--title {
            font-size: 24px;
            text-align: left;
            float: left;
            margin-bottom: 20px;
        }
        .screen-view-header--close {
            position: absolute;
            top: 24px;
            margin-left: 330px;
            width: 60px;
            .circle-button {
                background: #05A7B2;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                font-size: 15px;
                color: #fff;
                border-radius: 40px;
            }
        }
        .screen-view-header--options {
            md-input-container {
                margin: 0 0 0 30px;
            }
        }

        
    }

    .form {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
        
        .field {
            width: inherit;
            margin-bottom: 25px;
            .label {
                font-size: 14px;
                margin-bottom: 10px;
             }
            .text-box {
                border-bottom: 1px solid #E3E3E3;

                .label-placeholder {
                    color: #E3E3E3;
                    font-size: 14px;
                    position: absolute;
                }
                
                input {
                    border: none; 
                    outline: none;
                    background: #979B9F;
                    color: #E3E3E3;
                    width: 100%;
                    padding: 5px;
                    font-size: 14px;
                }
                ::-webkit-input-placeholder { /* Chrome */
                    color: #E3E3E3;
                }
                :-ms-input-placeholder { /* IE 10+ */
                    color: #E3E3E3;
                }
                ::-moz-placeholder { /* Firefox 19+ */
                    color: #E3E3E3;
                    opacity: 1;
                }
                :-moz-placeholder { /* Firefox 4 - 18 */
                    color: #E3E3E3;
                    opacity: 1;
                }

                &.money {
                    input {
                        text-align: right;
                        font-family: 'Consolas', sans-serif;
                        font-size: 22px;
                    }
                    .label-placeholder {
                        margin-top: 15px;
                    }
                    
                }

                &.search-box {
                    position: absolute;
                    width: 160px;
                    margin-top: -30px;
                    margin-left: 140px;
                }
            }
            .tiles-list {}
        }

        .tiles-list {
            height: calc(80px * 3);
            margin-top: 20px;
            overflow: auto;
            width: 111%;
            margin-left: -15px;

            // margin-left: 30px;
            // float: left;
            // height: 300px;
            // width: 65px;
            // background: #F5F5F5;
            overflow-y: scroll;
            // margin-bottom: 25px;

            &::-webkit-scrollbar-track
            {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                border-radius: 8px;
                background-color: #979B9F;
            }
            
            &::-webkit-scrollbar
            {
                width: 10px;
                background-color: #979B9F;
            }
            
            &::-webkit-scrollbar-thumb
            {
                border-radius: 2px;
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                background-color: #4D5664;
            }

            .tile-item {
                width: 70px;
                height: 70px;
                background: inherit;
                float: left;
                color: #fff;
                margin-left: 5px;
                margin-bottom: 5px;
                border: 1px solid #fff;
                &:hover { background: #2C7D83; }
                &.active { background: #05A7B2; }

                .tile--icon {
                    font-size: 26px;
                    line-height: 46px;
                    width: 100%;
                    text-align: center;
                }
                .tile--label {
                    
                    font-size: 11px;
                    width: 100%;
                    max-width: 100%;
                    height: 18px;
                    text-align: center;
                    text-overflow: ellipsis;
                    word-break: break-word;
                }
            }
        }
    }
    
}

.screen-view-overlapse {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.4);
    top: 60px;
    z-index: 90;
    display: none;

    transition: all 100ms ease-in-out 150ms;

    &.open {
    }
    &.close {
        width: 0px;
    }
}

.circle-button {}

// .button {
//     padding: 10px 20px;
//     font-size: 14px;
//     cursor: pointer;
//     &.create {
//         width: 100px;
//         text-align: center;
//         margin: 0 auto;
//         background: #05A7B2;
//         text-transform: uppercase;
//         color: #fff;
//     }
// }