.collection-transactions {
    padding: 8px;
    height: 56px;
    box-sizing: border-box;

    .collection-transactions-container {
        padding-bottom: 70px;
    }

    .transaction-item-filter {
        width: 100%;
        overflow: hidden;
        text-align: center;
        .transaction-item-filter--name {
            width: auto;
            text-align: center;
            padding: 3px;
            font-size: 13px;
        }
    }

    .transaction-item {
        background: #BDBDBD;
        color: #333;
        overflow: hidden;
        height: 40px;
        margin: 5px 0;
        .transaction-item-icon, .transaction-item-description, .transaction-item-value {
            float: left;
            height: 40px;
            box-sizing: border-box;
        }
        .transaction-item-icon {
            width: 40px;
            float: left;
            background: gray;
            padding: 8px;
            margin-right: 10px;

            .icon {
                width: 25px;
                height: 25px;
            }
        }
        .transaction-item-description {
            width: calc(100% - 60px - 60px);
            margin-right: 10px;
            font-size: 11px;
            line-height: 20px;

            .transaction-item--title {
                font-size: 14px;
            }
            .transaction-item--date {
                text-transform: uppercase;
            }
        }
        .transaction-item-value {
            width: 60px;
            text-align: center;
            font-size: 13px;
            line-height: 40px;
            border-left: 1px solid #9E9E9E;
        }
    }
}