<div class="collection-transactions">
    <div class="collection-transactions-filter">
        
    </div>
    <div class="collection-transactions-container">
        <div class="transaction-item-filter">
            <div class="transaction-item-filter--name">
                August 2017
            </div>
        </div>
        <div class="transaction-item" ng-repeat="d in vm.data">
            <div class="transaction-item-icon"> 
                <img src="/resources/svg/coin-1.svg" alt="" class="icon">
            </div>
            <div class="transaction-item-description">
                <div class="transaction-item--title" ng-if="d.description">{{ d.description }}</div>
                <div class="transaction-item--title" ng-if="!d.description">Transacción {{ $index + 1 }}</div>
                <!-- <div class="transaction-item--date">08/aug/2017 5:34PM</div> -->
                <div class="transaction-item--date">{{ d.update }}</div>
            </div>
            <div class="transaction-item-value">
                <span ng-if="!d.isbudget">-</span> {{ vm.config.currency.prefix }}{{ d.value }}
            </div>
        </div>
    </div>
</div>