<div class="screen mobile">
    <h1>Monedas</h1>

    <span>Edit Mode On</span>
    <div class="fields">
        <div class="field">
            <div class="textbox">
                <input type="text" placeholder="Nombre" ng-model="vm.currencyTemp.name">
            </div>
        </div>
        <div class="field">
            <div class="textbox">
                <input type="text" placeholder="Simbolo" ng-model="vm.currencyTemp.symbol">
            </div>
        </div>
        <div class="field">
            <div class="textbox">
                <input type="text" placeholder="Prefijo" ng-model="vm.currencyTemp.prefix">
            </div>
        </div>
    </div>

    <div class="actions">
        <div class="button save" ng-click="vm.create(vm.currencyTemp)">Guardar</div>
        <div class="button limpiar" ng-click="vm.clean(vm.currencyTemp)">Limpiar</div>
        <div class="button eliminar" ng-if="vm.currencyTempSelected" ng-click="vm.delete(vm.currencyTempSelected)">Eliminar <span>ID: {{ vm.currencyTempSelected.id }}</span></div>
        <div class="button eliminar" ng-if="vm.currencyTempSelected" ng-click="vm.update(vm.currencyTempSelected)">Update <span>ID: {{ vm.currencyTempSelected.id }}</span></div>
    </div>

    <div class="list">
        <span>List</span>
        <div class="item" ng-repeat="u in vm.data" ng-click="vm.selectItem(u)">
            <span>Item {{ u.id }} {{ u.name }}</span>
        </div>
    </div>
</div>