<div class="screen mobile">
    <h1>Monedas</h1>

    <span>Edit Mode On</span>
    <div class="fields">
        <div class="field">
            <div class="textbox">
                <input type="text" placeholder="Nombre" ng-model="vm.currencyTemp.name">
            </div>
        </div>
        <div class="field">
            <div class="textbox">
                <input type="text" placeholder="Simbolo" ng-model="vm.currencyTemp.symbol">
            </div>
        </div>
        <div class="field">
            <div class="textbox">
                <input type="text" placeholder="Prefijo" ng-model="vm.currencyTemp.prefix">
            </div>
        </div>
    </div>

    <div class="actions">
        <div class="button save" ng-click="vm.createCurrency(vm.currencyTemp)">Guardar</div>
        <div class="button limpiar" ng-click="vm.cleanData(vm.currencyTemp)">Limpiar</div>
        <div class="button eliminar" ng-click="vm.deleteCurrency(vm.currencyTempSelected)">Eliminar <span>ID: </span></div>
    </div>

    <div class="list">
        <span>List Monedas</span>
        <span>{{ vm.currencyTempSelected }}</span>
        <div class="item" ng-repeat="u in data.currency" ng-click="vm.selectItem(u, 'currency')">
            <span>Item {{ u.id }} {{ u.name }}</span>
        </div>
    </div>
</div>