<div class="budget-record" *ngFor="let budget of list" (click)="showDetails(budget)"
  [ngClass]="{'seeDetails': budget.details }">

  <div class="item card">
    <div class="container">
      <div class="type entry" *ngIf="budget.entry">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-up" width="32"
          height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <line x1="12" y1="5" x2="12" y2="19" />
          <line x1="16" y1="9" x2="12" y2="5" />
          <line x1="8" y1="9" x2="12" y2="5" />
        </svg>
      </div>
      <div class="type noEntry" *ngIf="!budget.entry">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-down" width="32"
          height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <line x1="12" y1="5" x2="12" y2="19" />
          <line x1="16" y1="15" x2="12" y2="19" />
          <line x1="8" y1="15" x2="12" y2="19" />
        </svg>
      </div>
      <div class="content">
        <div class="description">{{ budget.description }}</div>
        <div class="date">{{ budget.dateFormated }}</div>
        <div class="value">{{ budget.valueFormated }}</div>
      </div>

    </div>
    <div class="actions">
      <button class="button-circle" (click)="edit(budget)">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="32" height="32"
          viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
          <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
        </svg>
      </button>
      <button class="button-circle" (click)="delete(budget)">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eraser" width="32" height="32"
          viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M19 19h-11l-4 -4a1 1 0 0 1 0 -1.41l10 -10a1 1 0 0 1 1.41 0l5 5a1 1 0 0 1 0 1.41l-9 9" />
          <line x1="18" y1="12.3" x2="11.7" y2="6" />
        </svg>
      </button>
    </div>
  </div>

</div>