@import "../../../../resources/core/typography";
@import "../../../../resources/core/colors";
@import "../../../../resources/core/mixins";

list-component {

  .budget-record {
    transition: all 300ms;
    height: 80px;
    border-radius: 10px;
    border: 2px solid $black_22;
    margin-bottom: 10px;

    .content {
      margin-left: 20px;
      width: calc(100% - 70px);
    }

    .item {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
      // border-bottom: 1px solid #d7d7d7;

      &:last-child {
        border: none;
      }

      .container,
      .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
      }

      .actions {
        display: none;
      }
    }

    .type {
      width: 64px;
      height: 64px;
      text-align: center;
      line-height: 64px;
      border-radius: 15px;
      padding: 0;
      background: $black_22;

      .type-icon {
        width: 52px;
        padding: 6px;
        height: inherit;
      }
      svg {
        width: inherit  ;
        height: auto;
      }

      &.entry {
        // background: #bdf5a0;
      }

      &.noEntry {
        // background: #f5a0a0;
      }

      &.shopping {
        // background: #f5f1cd;
      }
    }

    .description,
    .date {
      font-size: 100%;
      transition: all 300ms;
      font-style: italic;
    }

    .date {
      display: none;
    }

    .value {
      font-size: 200%;
      transition: all 300ms;
    }

    .actions {
      justify-content: flex-end !important;
      display: none;
    }

    &.seeDetails {
      height: 140px;

      .item.card {

        .date,
        .actions {
          display: flex;
        }
      }
    }

    &.edit {
      background: $black_12;
      height: 180px;

      .description, .value, input {
        font-size: x-large;
        width: 100%;
      }

      input {
        font-size: x-large;
        width: 100%;
        margin-bottom: 10px;
        padding: 5px 10px;
        background: $black_22;
        border-radius: 10px;
      }
    }
  }

  .button.circular {
    width: 35px;
    height: 35px;
    svg {
      height: 100%;
      width: 100%;
    }
  }
}