<div class="screen mobile">
    <h1>Wallet</h1>

    <span>Edit Mode On</span>
    <div class="fields">
        <div class="field">
            <div class="textbox">
                <input type="text" placeholder="Name" ng-model="vm.walletsTemp.name">
            </div>
        </div>
        <div class="field">
            <div class="textbox">
                <input type="text" placeholder="Balance" ng-model="vm.walletsTemp.balance">
            </div>
        </div>
        <div class="field">
            <div class="dropdown">
                Moneda: 
                <select ng-model="vm.walletsTemp.idcurrency">
                    <option value="0"> Moneda ... </option>
                    <option value="{{ c.id }}" ng-repeat="c in vm.currency"> {{ c.name }} </option>
                </select>
            </div>
        </div>
        <div class="field">
            <div class="dropdown">
                Usuario: 
                <select ng-model="vm.walletsTemp.iduser">
                    <option value="0"> Usuario ... </option>
                    <option value="{{ s.id }}" ng-repeat="s in vm.users"> {{ s.username }} </option>
                </select>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="button save" ng-click="vm.create(vm.walletsTemp)">Guardar</div>
        <div class="button limpiar" ng-click="vm.clean(vm.walletsTemp)">Limpiar</div>
        <div class="button eliminar" ng-click="vm.delete(vm.walletsTempSelected)">Eliminar <span>ID: </span></div>
    </div>
    <div class="list">
        <span>List Carteras</span>
        <div class="item" ng-repeat="u in vm.data" ng-click="vm.selectItem(u)">
            <span>Item {{ u.name }}</span>
        </div>
    </div>
</div>