<div class="frames">
    <div class="balance">
        <h4>
            <span *ngIf="isList && budgetGlobal">{{ budgetGlobal.description }}</span>
            <span *ngIf="!isList">Total</span>
        </h4>
        <h1>{{ budgetTotal }}</h1>
    </div>

    <div class="actions-bar" *ngIf="canSaveGlobal">
        <button (click)="addGeneralBudget()">Agregar al Presupuesto</button>
    </div>

    <div class="transactions">
        <div class="actions">
            <div class="item">Transacciones</div>
            <!-- <div class="item link">Ver todo</div> -->
        </div>

        <div class="records">
            <ng-container *ngIf="listBudgets">
                <list-component
                    [list]="listBudgets"
                    (actionEvent)="onAfterAction($event)"
                ></list-component>
            </ng-container>
        </div>
    </div>
</div>
