<div class="login">
    <div class="sign-up active">
        <div class="title"> Spendd </div>
        <div class="slogan"> Welcome,</div>
        <div class="description"> sing in to manage your Money. </div>
        <div class="form">
            <div class="field separator">
                <div class="textbox">
                    <input type="text" placeholder="User or Email">
                </div>
            </div>
            <div class="field">
                <div class="textbox">
                    <input type="password" placeholder="Password">
                </div>
            </div>
            <div class="field right">
                show password: 
                <div class="checkbox">
                    <input type="checkbox" name="checkbox-password" checked>
                    <label class="component" for="checkbox-password"></label>
                </div>
            </div>
            <button type="button" class="buttonComponent">Login</button>
        </div>
        <div class="footer">
            Don't have an account? <a href="">Sing up</a>
        </div>
    </div>
    <div class="register">
        <div class="title"> Spendd </div>
        <div class="slogan"> Welcome,</div>
        <div class="description"> sing in to manage your Money. </div>
        <div class="form">
            <div class="field separator">
                <div class="textbox">
                    <input type="text" placeholder="User or Email">
                </div>
            </div>
            <div class="field">
                <div class="textbox">
                    <input type="password" placeholder="Password">
                </div>
            </div>
            <div class="field right">
                show password: 
                <div class="checkbox">
                    <input type="checkbox" name="checkbox-password" checked>
                    <label class="component" for="checkbox-password"></label>
                </div>
            </div>
            <button type="button" class="buttonComponent">Login</button>
        </div>
        <div class="footer">
            Don't have an account? <a href="">Sing up</a>
        </div>
    </div>
</div>