<div class="category">
    
    <div class="gallery">
        <div class="gallery-content">
            <div class="g-item" ng-class="{ 'mode-cover': vm.mode == 0, 'mode-preview': vm.mode == 1 , 'mode-open': vm.mode == 2, }">
                <div class="g-item-cover" >
                    .cover {{ vm.some }}
                    <button type="button" ng-click="vm.modeCover()">Cover</button>
                    <button type="button" ng-click="vm.modePreview()">Preview</button>
                    <button type="button" ng-click="vm.modeOpen()">Open</button>
                </div>
                <div class="g-item-content">
                    .g-item-content
                </div>
            </div>
        </div>
        <div class="gallery-footer">
            footer
        </div>
    </div>

</div>