<div class="home-view ">
    <div class="header">
        <div class="text">Vista de gastos</div>
        <div class="summary">
            Balance <b>12,000.00 <span>MXN</span></b>
        </div>
    </div>

    <div class="stats">
        <div class="stats-item">
            <div class="stats-item-icon">
                <i class="fa fa-delicious"></i>
            </div>
            <div class="stats-item-content">
                <div class="stats-item-content-title">30</div>
                <div class="stats-item-content-description">Transacciones Agregadas</div>
            </div>
        </div>
        <div class="stats-item">
            <div class="stats-item-icon">
                <i class="fa fa-delicious"></i>
            </div>
            <div class="stats-item-content">
                <div class="stats-item-content-title">$10k <span>MXN</span></div>
                <div class="stats-item-content-description">Gastos Registrados</div>
            </div>
        </div>
        <div class="stats-item">
            <div class="stats-item-icon">
                <i class="fa fa-delicious"></i>
            </div>
            <div class="stats-item-content">
                <div class="stats-item-content-title">$3k <span>MXN</span></div>
                <div class="stats-item-content-description">Ahorro</div>
            </div>
        </div>
        <div class="stats-item">
            <div class="stats-item-icon">
                <i class="fa fa-delicious"></i>
            </div>
            <div class="stats-item-content">
                <div class="stats-item-content-title">15</div>
                <div class="stats-item-content-description">Planes Activos</div>
            </div>
        </div>
    </div>

    <div class="graph-component">
        <canvas id="canvas"></canvas>
    </div>
</div>