.header-bar { 
    width: inherit;
    height: 30px;  
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 5px;

    .header-bar-actions {
        width: 15%;
        height: inherit;
        float: left;
        text-align: center;
        padding: 0px;
        box-sizing: border-box;
        .action--item {
            padding: 5px 0px;
            cursor: pointer;
            &:hover {
                background: #BDBDBD; 
            }
        }
    }
    .title {
        width: 70%;
        height: inherit;
        float: left;
        font-size: 20px;
        padding: 0 5px;
        box-sizing: border-box;
        text-align: center;
        font-family: 'Bree', Arial, Helvetica, sans-serif;
        line-height: 30px;
    }
    
}
