.header-bar { 
    width: inherit;
    height: 30px;  
    color: white;
    .actions {
        width: 20%;
        height: inherit;
        float: left;
        text-align: center;
        padding: 8px 5px;
        box-sizing: border-box;
    }
    .title {
        width: 60%;
        height: inherit;
        float: left;
        font-size: 20px;
        padding: 4px 5px;
        box-sizing: border-box;
        text-align: center;
    }
}
