<!DOCTYPE html>
<html>
<head>
	<title>Financiero</title>
	<base href="/">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/libs/angular-material/angular-material.css"/>
	<link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" href="resources/design/design.css"/>
	
</head>
<body class="financiero-app" ng-controller="financiero.MainController as vm" ng-class="{'popupactive-body': $root.Menu.lookPrincipal }">
	<div  >
		<div class="root-top-bar">
			<div class="page-container">
				<div class="logo-sys">Budexp</div>
				<div class="root-top-bar-options">
					<div class="root-top-bar-menu">
						<div class="root-top-bar-menu-item">Soporte</div>
						<div class="root-top-bar-menu-item">Comentarios</div>
						<div class="root-top-bar-menu-item">Comparte</div>
					</div>
					<div class="root-top-bar-user">
						<div class="avatar">.a</div> 
						<div class="avatar-name">sergio gallegos</div>
					</div>

				</div>
			</div>
		</div>

		<div class="page-container" ng-class="{'lock': $root.Menu.lookPrincipal }">
			<!-- Menu -->
			<div class="root-menu">
				<div class="root-menu-group">
					<div class="root-menu-tittle">dashboard</div>
					<a href="/home"><div class="root-menu-item active"><i class="fa fa-home"></i> resumen general</div></a>
					<a href="/budget-view"><div class="root-menu-item"> <i class="fa fa-area-chart"></i> vista presupuesto</div></a>
				</div>
				<div class="root-menu-group">
					<div class="root-menu-tittle">gastos</div>
					<div class="root-menu-item" ng-click="vm.openTransacionNew()"> <i class="fa fa-plus-circle"></i> agregar gasto</div>
					<div class="root-menu-item"> <i class="fa fa-plus-circle"></i> crear plan</div>
				</div>
				<div class="root-menu-group">
					<div class="root-menu-tittle">Configuración</div>
					<a href="/admin"><div class="root-menu-item"> <i class="fa fa-plus-circle"></i> Administrar</div></a>
					<a href="/settings"><div class="root-menu-item"> <i class="fa fa-plus-circle"></i> Configurar</div></a>
				</div>
			</div>

			<!-- sub menus -->
			<div class="screen-view" ng-class="{'open': $root.Menu.addTransactionScreen }" >
				<div class="screen-view-options">
					<div class="screen-view-options-item" ng-click="vm.closeTransactionScreen()"> <i class="fa fa-close"></i> </div>
					<div class="screen-view-options-item confirm-item" ng-click="vm.createTransaction()">Save</div>
				</div>
				<div class="screen-view-content">
					<div class="screen-view-header">
						<div class="screen-view-header--title">Agregar Transacción</div>
					</div>
					<div class="view-form">
						<div class="group-fields two">
							<div class="field bold">
								<md-input-container>
									<div class="label"> <i class="fa fa-id-card"></i> </div>
									<md-select ng-model="vm.transactionTemp.idwallet" aria-label="wallet">
										<md-option value="{{ i.id }}" ng-repeat="i in $root.data.wallets">{{ i.name }}</md-option>
									</md-select>
								</md-input-container>
							</div>
							<div class="field bold">
								<md-input-container>
									<md-datepicker ng-model="vm.transactionTemp.update" aria-label="update"></md-datepicker>
								</md-input-container>
							</div>
						</div>
						<div class="field">
							<div class="text-box money">
								<div class="label-placeholder bold">
									<md-input-container>
										<md-select ng-model="vm.transactionTemp.idcurrency" aria-label="currency">
											<md-option value="{{ i.id }}" ng-repeat="i in $root.data.currency">{{ i.symbol }}</md-option>
										</md-select>
									</md-input-container>
								</div>
								<input type="text" placeholder="0.00" ng-model="vm.transactionTemp.value" />
							</div>
						</div>
						<div class="field">
							<div class="text-box">
								<input type="text" placeholder="Comentario ..." ng-model="vm.transactionTemp.description">
							</div>
						</div>
						
						<div class="section">
							<div class="section-header">Categoria</div>
							<div class="section-filters">
								<md-button class="active">GASTOS</md-button>
								<md-button>INGRESOS</md-button>
							</div>
							<div class="section-content">
								<div class="tiles-list">
									<div class="tile-item" ng-class="{ 'active': c.active }" ng-repeat="c in data.categories" ng-click="vm.selectCategory(c, data.categories)">
										<div class="tile--icon"><i class="fa fa-{{ c.icon }}"></i></div>
										<div class="tile--label">{{ c.name }}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- dinamic view -->
			<div class="root-view-container" ng-class="{ 'screen-view-active': $root.Menu.lookPrincipal }" ng-view="">
			</div>
		</div>
	</div>

	<script src="/libs/traceur/traceur.js"></script>
	<script>
        traceur.options.experimental = true;
        new traceur.WebPageTranscoder(document.location.href).run();
    </script>

	<!-- <script src="/libs/jquery/dist/jquery.js"></script> -->
	<script src="/libs/angular/angular.js"></script>
	<script src="/libs/angular-route/angular-route.js"></script>
	<script src="/libs/angular-messages/angular-messages.js"></script>
	<script src="/libs/angular-animate/angular-animate.js"></script>
	<script src="/libs/angular-aria/angular-aria.js"></script>
	<!-- <script src="/libs/angular-resource/angular-resource.js"></script> -->
	<script src="/libs/angular-material/angular-material.js"></script>
	<script src="/libs/chart.js/dist/Chart.js"></script>
	<script src="/libs/angular-chart.js/dist/angular-chart.js"></script>

	<script src="/libs/moment/moment.js"></script>
	<script type="module" src="app.js"></script>
</body>
</html>
