<div class="frames">
    <div class="balance">
        <h4>Balance</h4>
        <h1>{{ balanceTotal }}</h1>
    </div>

    <div class="stadistics">
        <div class="resume">
            <div class="stadistic">
                <div>{{ budgetTotal }}</div>
                <span>Gastos</span>
            </div>
    
            <div class="stadistic">
                <div>{{ entryTotal }}</div>
                <span>Ingresos</span>
            </div>
        </div>
        <div>
            <div class="stadistic" (click)="openDate()">
                <div>{{ monthsSelected }}</div>
            </div>
        </div>
        
    </div>


    <div class="transactions">
        <div class="actions">
            <div class="item">Transacciones</div>
            <!-- <div class="item link">Ver todo</div> -->
        </div>

        <div class="records">
            <ng-container *ngIf="listBudgets">
                <list-component
                    [list]="listBudgets"
                    (actionEvent)="onAfterAction($event)"
                ></list-component>
            </ng-container>
        </div>
    </div>
</div>

<panel-component [title]="modal.title" [(open)]="modal.showModal" [size]="modal.size" [showClose]="modal.showClose"
    (afterChange)="onAfterAction($event)">
    <div body>
        <div class="datepicker">

            <label for="start">
                <input type="date" id="start" name="start" tabindex="3" [(ngModel)]="startDateFormat">
            </label>

            <label for="end" *ngIf="startDateFormat">
                <input type="date" id="end" name="end" tabindex="3" [(ngModel)]="endDateFormat">
            </label>

            <div>
                <button (click)="modal.showModal = false">Cancel</button>
                <button (click)="updateRange()" [disabled]="!(startDateFormat && endDateFormat)">Apply</button>
            </div>

        </div>
    </div>
</panel-component>