<div class="general debug">
    <div class="screen mobile">

        <div class="root-menu" ng-class="{ close: !$root.menu.status, open: $root.menu.status }">
            <div class="root-menu-item" ng-click="vm.toogleMenu()">Return</div>
            <div class="root-menu-item">Home</div>
            <div class="root-menu-item">Tranacciones</div>
            <div class="root-menu-item">Categorias</div>
            <div class="root-menu-item">Reportes</div>
            <div class="root-menu-item">Configuración</div>
        </div>

        <header-bar title="Home" menu-func="vm.toogleMenu()"></header-bar>
        <hero-screen config="config" current-temporality="$root.currentTemporality" temporality="vm.temporality"  data="vm.transactionsFiltered"></hero-screen>
        <collection-transactions config="config" data="vm.transactionsFiltered"></collection-transactions>

        <div class="action-events">
            <button class="button add">
                <img src="/resources/svg/plus.svg" alt="" class="icon">
            </button>
        </div>
    </div>
    
 <!-- monedas -->
 <!-- <currency-page ng-if="data.currency" data="data.currency"></currency-page>  -->

<!-- usuarios -->
 <!-- <users-page ng-if="data.users" data="data.users"></users-page>  -->

<!-- Categorias -->
  <!-- <categories-page ng-if="data.categories" data="data.categories"></categories-page>   -->

<!-- Carteras -->
 <!-- <wallets-page ng-if="data.wallets" data="data.wallets" currency="data.currency" users="data.users"></wallets-page>  -->

<!-- transacciones --> 
<!-- <transactions-page ng-if="data.transactions" data="data.transactions" currency="data.currency" users="data.users" wallets="data.wallets" categories="data.categories"></transactions-page> -->

</div>