$headerHeight: 40px;
$headerWidth: calc(100% - $headerHeight);

$themeColor: #00838F;
$themeColorFont: #fff;
$themeColorHover: #00ACC1;

.lato { font-family: "Lato", sans-serif; }
.merriweather { font-family: "Merriweather", sans-serif; }
.bree { font-family: "Bree", sans-serif; }
.pt-sans { font-family: "PT_Sans", sans-serif; }


.screen {
    position: absolute;
    height: 100vh;
    width: 100vw;
    &.lateral {
        width: 370px;
        top: 0;
        left: 0;
        background: #f5f5f5;

        &.left { left: 0; }
        &.right { right: 0; left: auto; }
    }
    

    .header {
        padding: 20px 30px;
        border-bottom: 1px solid #CDCDCD;
        height: 100px;
        box-sizing: border-box;
        
        .header-category {
            font-size:15px
        }
        .header-title {
            font-size: 28px;
        }
    }

    .content {
        padding: 20px 30px;
        height: calc(100vh - 101px);
        background: violet;
        box-sizing: border-box;
    }
}


.home {
}