<div class="general ">
        <div class="root-menu">
            <!-- <div class="root-menu-item" ng-click="vm.toogleRootMenu()">Return</div> -->
            <div class="root-menu-item root-item-logo" title="Home"> <i class="fa fa-eercast" aria-hidden="true"></i> </div>
            <div class="root-menu-item" title="Home"> <i class="fa fa-area-chart" aria-hidden="true"></i></div>
            <div class="root-menu-item" title="Historial"> <i class="fa fa-history" aria-hidden="true"></i> </div>
            <div class="root-menu-item" title="Categorias"> <i class="fa fa-leaf" aria-hidden="true"></i> </div>
            <div class="root-menu-item" title="Reportes"> <i class="fa fa-magic" aria-hidden="true"></i> </div>
            <div class="root-menu-item" title="Configuración"> <i class="fa fa-cog" aria-hidden="true"></i> </div>
        </div>
        <div class="root-status-bar">
            <div class="root-status--title">
                <i class="fa fa-feed" aria-hidden="true"></i> Dashboard
            </div>

            <div class="root-status-bar--actions">
                <div class="root-status-bar-item"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></div>
                <div class="root-status-bar-item"> <div class="avatar"> <i class="fa fa-user-o" aria-hidden="true"></i> </div> </div>
                <div class="root-status-bar-item automatic"><i class="fa fa-search" aria-hidden="true"></i> </div>
            </div>

        </div>
        <div class="root-contents">

            <div class="panel-component panel-graph">
                <div class="panel-component-title">Summary</div>
                <div class="panel-component-status">
                    <div class="panel-component-status--summary">
                        <div class="panel-component-status--summary-item">9999 <b>Budget</b></div>
                        <div class="panel-component-status--summary-item">9999 <b>Expense</b></div>
                        <div class="panel-component-status--summary-item">9999 <b>Total</b></div>
                    </div>   
                    <div class="panel-component-status--filter">
                        <div class="panel-component-status--filter-item">Day</div>
                        <div class="panel-component-status--filter-item">Week</div>
                        <div class="panel-component-status--filter-item active">Month</div>
                        <div class="panel-component-status--filter-item">Year</div>
                    </div>
                </div>
                <div class="panel-component-graph">
                    <canvas id="canvas"></canvas>
                </div>
            </div>

            <div class="panel-component panel-history">
                <div class="panel-component-title">History</div>
                <div class="panel-component-body">
                   <div class="history-item"> Created transaction </div>
                   <div class="history-item"> Deleted transaction </div>
                   <div class="history-item"> Update transaction </div>
                   <div class="history-item"> Plan Created</div>
                </div>
                <div class="panel-component-acctions">
                        <button type="botton">Load more ...</button>
                </div>
            </div>
            

            <div class="transactions-history-component">
                
                    <div class="table-responsive-vertical shadow-z-1">
                        <!-- Table starts here -->
                        <table id="table" class="table table-hover table-mc-light-blue">
                            <thead>
                                <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Link</th>
                                <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <td data-title="ID">1</td>
                                <td data-title="Name">Material Design Color Palette</td>
                                <td data-title="Link">
                                    <a href="https://github.com/zavoloklom/material-design-color-palette" target="_blank">GitHub</a>
                                </td>
                                <td data-title="Status">Completed</td>
                                </tr>
                                <tr>
                                <td data-title="ID">2</td>
                                <td data-title="Name">Material Design Iconic Font</td>
                                <td data-title="Link">
                                    <a href="https://codepen.io/zavoloklom/pen/uqCsB" target="_blank">Codepen</a>
                                    <a href="https://github.com/zavoloklom/material-design-iconic-font" target="_blank">GitHub</a>
                                </td>
                                <td data-title="Status">Completed</td>
                                </tr>
                                <tr>
                                <td data-title="ID">3</td>
                                <td data-title="Name">Material Design Hierarchical Display</td>
                                <td data-title="Link">
                                    <a href="https://codepen.io/zavoloklom/pen/eNaEBM" target="_blank">Codepen</a>
                                    <a href="https://github.com/zavoloklom/material-design-hierarchical-display" target="_blank">GitHub</a>
                                </td>
                                <td data-title="Status">Completed</td>
                                </tr>
                                <tr>
                                <td data-title="ID">4</td>
                                <td data-title="Name">Material Design Sidebar</td>
                                <td data-title="Link"><a href="https://codepen.io/zavoloklom/pen/dIgco" target="_blank">Codepen</a></td>
                                <td data-title="Status">Completed</td>
                                </tr>
                                <tr>
                                <td data-title="ID">5</td>
                                <td data-title="Name">Material Design Tiles</td>
                                <td data-title="Link">
                                    <a href="https://codepen.io/zavoloklom/pen/wtApI" target="_blank">Codepen</a>
                                </td>
                                <td data-title="Status">Completed</td>
                                </tr>
                                <tr>
                                <td data-title="ID">6</td>
                                <td data-title="Name">Material Design Typography</td>
                                <td data-title="Link">
                                    <a href="https://codepen.io/zavoloklom/pen/IkaFL" target="_blank">Codepen</a>
                                    <a href="https://github.com/zavoloklom/material-design-typography" target="_blank">GitHub</a>
                                </td>
                                <td data-title="Status">Completed</td>
                                </tr>
                                <tr>
                                <td data-title="ID">7</td>
                                <td data-title="Name">Material Design Buttons</td>
                                <td data-title="Link">
                                    <a href="https://codepen.io/zavoloklom/pen/Gubja" target="_blank">Codepen</a>
                                </td>
                                <td data-title="Status">In progress</td>
                                </tr>
                                <tr>
                                <td data-title="ID">8</td>
                                <td data-title="Name">Material Design Form Elements</td>
                                <td data-title="Link">
                                    <a href="https://codepen.io/zavoloklom/pen/yaozl" target="_blank">Codepen</a>
                                </td>
                                <td data-title="Status">In progress</td>
                                </tr>
                                <tr>
                                <td data-title="ID">9</td>
                                <td data-title="Name">Material Design Email Template</td>
                                <td data-title="Link">
                                    <a href="https://codepen.io/zavoloklom/pen/qEVqzx" target="_blank">Codepen</a>
                                </td>
                                <td data-title="Status">Completed</td>
                                </tr>
                                <tr>
                                <td data-title="ID">10</td>
                                <td data-title="Name">Material Design Animation Timing (old one)</td>
                                <td data-title="Link">
                                    <a href="https://codepen.io/zavoloklom/pen/Jbrho" target="_blank">Codepen</a>
                                </td>
                                <td data-title="Status">Completed</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                    <md-content layout-padding ng-cloak>
                            <div layout-gt-xs="row">
                              <div flex-gt-xs>
                                <h4>Standard date-picker</h4>
                                <md-datepicker ng-model="vm.myDate" md-placeholder="Enter date"></md-datepicker>
                              </div>
                          
                              <div flex-gt-xs>
                                <h4>Disabled date-picker</h4>
                                <md-datepicker ng-model="vm.myDate" md-placeholder="Enter date" disabled></md-datepicker>
                              </div>
                            </div>
                          
                            <div layout-gt-xs="row">
                              <div flex-gt-xs>
                                <h4>Opening the calendar when the input is focused</h4>
                                <md-datepicker ng-model="vm.myDate" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
                              </div>
                          
                              <div flex-gt-xs>
                                <h4>Date-picker that goes straight to the year view</h4>
                                <md-datepicker ng-model="vm.myDate" md-current-view="year" md-placeholder="Enter date"></md-datepicker>
                              </div>
                            </div>
                          
                            <div layout-gt-xs="row">
                              <div flex-gt-xs>
                                <h4>Custom calendar trigger</h4>
                                <md-datepicker ng-model="vm.myDate" md-placeholder="Enter date" md-is-open="vm.isOpen"></md-datepicker>
                                <md-button class="md-primary md-raised" ng-click="vm.isOpen = true">Open</md-button>
                              </div>
                            </div>
                    </md-content>

                    <div class="md-padding" ng-cloak layout="column">
                            
                        <p>
                        The <code>&lt;md-select&gt;</code> component can be used within a
                        <code>&lt;md-input-container&gt;</code> or as a stand alone component by using the
                        <code>md-no-underline</code> class.
                        </p>
                    
                        <md-card>
                        <md-card-title>
                            <md-card-title-text>
                            <span class="md-headline">Account Preferences</span>
                            <span class="md-subhead">Tell us a little about you.</span>
                            </md-card-title-text>
                        </md-card-title>
                    
                        <md-card-content>
                            <div layout="row">
                            <md-input-container>
                                <label>Street Name</label>
                                <input>
                            </md-input-container>
                    
                            <md-input-container>
                                <label>City</label>
                                <input>
                            </md-input-container>
                    
                            <md-input-container>
                                <label>State</label>
                                <md-select ng-model="vm.userState">
                                <md-option><em>None</em></md-option>
                                <md-option ng-repeat="state in vm.states" ng-value="state.abbrev" ng-disabled="$index === 1">
                                    {{state.abbrev}}
                                </md-option>
                                </md-select>
                            </md-input-container>
                            </div>
                        </md-card-content>
                        </md-card>
                    
                        <md-card>
                        <md-card-title>
                            <md-card-title-text>
                            <span class="md-headline">Battle Preferences</span>
                            <span class="md-subhead">Choose wisely if you want to win.</span>
                            </md-card-title-text>
                        </md-card-title>
                    
                        <md-card-content>
                            <div layout="row" layout-align="space-between center">
                            <span>What is your favorite weapon?</span>
                            <md-select ng-model="weapon" placeholder="Weapon" class="md-no-underline">
                                <md-option value="axe">Axe</md-option>
                                <md-option value="sword">Sword</md-option>
                                <md-option value="wand">Wand</md-option>
                                <md-option value="pen">Pen?</md-option>
                            </md-select>
                            </div>
                    
                            <div layout="row" layout-align="space-between center">
                            <span>What armor do you wear?</span>
                            <md-select ng-model="armor" placeholder="Armor" class="md-no-underline" required md-no-asterisk="false">
                                <md-option value="cloth">Cloth</md-option>
                                <md-option value="leather">Leather</md-option>
                                <md-option value="chain">Chainmail</md-option>
                                <md-option value="plate">Plate</md-option>
                            </md-select>
                            </div>
                    
                            <div layout="row" layout-align="space-between center">
                            <span>How do you refresh your magic?</span>
                            <md-select ng-model="drink" placeholder="Drink" class="md-no-underline">
                                <md-option value="water">Water</md-option>
                                <md-option value="juice">Juice</md-option>
                                <md-option value="milk">Milk</md-option>
                                <md-option value="wine">Wine</md-option>
                                <md-option value="mead">Mead</md-option>
                            </md-select>
                            </div>
                        </md-card-content>
                        </md-card>
                    
                    </div>
            </div>
    
        </div>    
</div>



<!-- <div class="general debug">
     <div class="root-menu" ng-class="{ close: !$root.menu.rootMenuStatus, open: $root.menu.rootMenuStatus }">
        <div class="root-menu-item" ng-click="vm.toogleRootMenu()">Return</div>
        <div class="root-menu-item">Home</div>
        <div class="root-menu-item">Tranacciones</div>
        <div class="root-menu-item">Categorias</div>
        <div class="root-menu-item">Reportes</div>
        <div class="root-menu-item">Configuración</div>
    </div>

    <div class="user-menu" ng-class="{ close: !$root.menu.userMenuStatus, open: $root.menu.userMenuStatus }">
        <div class="user-menu-item" ng-click="vm.toogleUserMenu()">Return</div>
        <div class="user-menu-item">
            <div class="avatar">.user</div>
            <div class="avatar-username">User name</div>
        </div>
        <div class="user-menu-item">some menu</div>
        <div class="user-menu-item">Some</div>
    </div>

    <div class="screen mobile transaction" >
        <transactions-page current="config" data="data.transactions" currency="data.currency" users="data.users" wallets="data.wallets" categories="data.categories" ></transactions-page>
    </div>
    
    <div class="screen mobile">
        <header-bar title="Home" action-func="vm.toogleRootMenu()" config-func="vm.toogleUserMenu()" ></header-bar>
        <hero-screen config="config" current-temporality="$root.currentTemporality" temporality="vm.temporality"  data="vm.transactionsFiltered"></hero-screen>
        <collection-transactions config="config" data="vm.transactionsFiltered"></collection-transactions>

        <div class="action-events">
            <button class="button add">
                <img src="/resources/svg/plus.svg" alt="" class="icon">
            </button>
        </div>
    </div> -->
    
 <!-- monedas -->
 <!-- <currency-page ng-if="data.currency" data="data.currency"></currency-page>  -->

<!-- usuarios -->
 <!-- <users-page ng-if="data.users" data="data.users"></users-page>  -->

<!-- Categorias -->
  <!-- <categories-page ng-if="data.categories" data="data.categories"></categories-page>   -->

<!-- Carteras -->
 <!-- <wallets-page ng-if="data.wallets" data="data.wallets" currency="data.currency" users="data.users"></wallets-page>  -->

<!-- transacciones --> 
<!-- <transactions-page ng-if="data.transactions" data="data.transactions" currency="data.currency" users="data.users" wallets="data.wallets" categories="data.categories"></transactions-page> -->

</div>