<div class="screen mobile">
    <h1>Transacciones</h1>

    <span>Edit Mode On</span>
    <div class="fields">
        <div class="field">
            <div class="textbox">
                <input type="text" placeholder="Descripcion" ng-model="vm.transactionsTemp.description">
            </div>
        </div>
        <div class="field">
            <div class="textbox">
                <input type="text" placeholder="Valor" ng-model="vm.transactionsTemp.value">
            </div>
        </div>
        <div class="field">
            <div class="textbox">
                <input type="text" placeholder="Creado" ng-model="vm.transactionsTemp.update">
            </div>
        </div>
        <div class="field">
            <div class="dropdown">
                Moneda: 
                <select ng-model="vm.transactionsTemp.idcurrency">
                    <option value="0"> Selecciona uno ... </option>
                    <option value="{{ c.id }}" ng-repeat="c in vm.currency"> {{ c.name }} </option>
                </select>
            </div>
        </div>
        <div class="field">
            <div class="dropdown">
                Cartera: 
                <select ng-model="vm.transactionsTemp.idwallet">
                    <option value="0"> Selecciona uno ... </option>
                    <option value="{{ c.id }}" ng-repeat="c in vm.wallets"> {{ c.name }} </option>
                </select>
            </div>
        </div>
        <div class="field">
            <div class="dropdown">
                Tipo: 
                <select ng-model="vm.transactionsTemp.idcategory">
                    <option value="0"> Selecciona uno ... </option>
                    <option value="{{ c.id }}" ng-repeat="c in vm.categories"> {{ c.name }} </option>
                </select>
            </div>
        </div>
        <div class="field">
            <div class="dropdown">
                Plan: 
                <select ng-model="vm.transactionsTemp.idplan">
                    <option value="0"> Selecciona uno ... </option>
                    <option value="{{ c.id }}" ng-repeat="c in vm.plan"> {{ c.name }} </option>
                </select>
            </div>
        </div>
        <div class="field">
            <div class="dropdown">
                presupuesto: 
                <input type="checkbox" ng-model="vm.transactionsTemp.isbudget">
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="button save" ng-click="vm.create(vm.transactionsTemp)">Guardar</div>
        <div class="button limpiar" ng-click="vm.clean(vm.transactionsTemp)">Limpiar</div>
        <div class="button eliminar" ng-click="vm.delete(vm.transactionsTempSelected)">Eliminar <span>ID: </span></div>
    </div>
    <div class="list">
        <span>List Transacciones</span>
        <div class="item" ng-repeat="u in vm.data" ng-click="vm.selectItem(u)">
            <span>Item ${{ u.value }}</span>
        </div>
    </div>
</div>