<div class="home">
    <div class="app">
        <div class="app-header">
            <div class="header-left-content">
                <div class="searchbox component">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="text" id="googleAutocomplete" value="" ng-model="vm.keyworks" ng-change="vm.goSearch()" >
                </div>
                <div class="component">

                </div>
            </div>
                

            <div class="header-right-content">
                <div class="notification component" ng-click="vm.goNotification()">
                    <i class="fa fa-bell" aria-hidden="true"></i>
                </div>  
                <div class="avatar component">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <div class="app-menu">
            <div class="menu-button logo" title="Logo">
                <i class="fa fa-leaf" aria-hidden="true"></i>
            </div>
            <div class="menu-button" ng-click="vm.goSection('maps-section')" title="Home">
                <i class="fa fa-globe" aria-hidden="true"></i>
            </div>
            <div class="menu-button" ng-click="vm.goSection('reports-section')" title="Reports">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
            </div>
            <div class="menu-button" ng-click="vm.goSection('settings-section')" title="Settings">
                <i class="fa fa-cog" aria-hidden="true"></i>
            </div>
            <div class="menu-button" ng-click="vm.goSectionDetails({ id: 1 })" title="Settings">
                <i class="fa fa-list" aria-hidden="true"></i>
            </div>
        </div>
        <div class="app-viewport">
            <div class="layer maps-section" id="layer-maps">
                <div class="googleMap" id="googleMap"></div>
                <div class="panel-map-info active"></div>
            </div>
            <div class="layer settings-section" id="layer-settings">
                <h1>layer-settings</h1>
            </div>
            <div class="layer reports-section" id="layer-reports">
                <h1>layer-reports</h1>
            </div>
            <div class="layer details-section" id="layer-details">
                <div class="returnMap" ng-click="vm.goSection('maps-section')">return Map</div>
                <h1>layer-details</h1>
            </div>
            <div class="layer search-section" id="layer-search">
                <h1>search-reports</h1>
                <span>Keyworks: {{ vm.keyworks }}</span>
            </div>
        </div>
        <div class="background-app-viewport" ng-click="vm.goNotification()"></div>
        <div class="app-viewport-lateral small">
            <div class="close-viewport" ng-click="vm.goNotification()">x</div>
            <div class="panel-header">Json Pins</div>
            <div class="panel-content">
                <h3>Current</h3>
                <div>{{ vm.pindata }}</div>
            </div>
        </div>

        <div class="infoWindowApp">
            <div class="title">infoWindowApp</div>
            <div class="content">content</div>
            <div class="details">details</div>
        </div>
    </div>

</div>